---
import type { Update } from '../pages/index.astro'
import { background, border, hover } from '@echoesmd/ui'

interface Props {
  update: Update
}

const { update } = Astro.props
const features = update.updates.filter((update) => update.type === 'Feature');
const refactors = update.updates.filter((update) => update.type === 'Refactor');
const publishes = update.updates.filter((update) => update.type === 'Publish');
---

<div class="p-4 py-8 mx-2 border-t border-b-0 border-l-0 border-r-0 flex justify-center flex-wrap" class:list={border.item}>
  <h1 class="text-xl w-full text-center">{update.name}</h1>
  <ul class="pl-4 w-64">
    {[features, refactors, publishes].map((updates, index) => updates.length > 0 && (
      <li class="py-2">
        <h2 class="text-lg capitalize pt-2 p-1 px-2 text-center border-t border-b-0 border-l-0 border-r-0" class:list={[hover.item, index !== updates.length ? border.item : '']}>{updates[0].type}:</h2>
        <ul class="pl-4">
          {updates.map((update) => (
            <li class="p-1 px-2 rounded-lg list-disc" class:list={hover.item}>{update.description}</li>
          ))}
        </ul>
      </li>
    ))}
  </ul>
</div>


